<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <% @department.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>    
      </div>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
