<tr>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.department.name %></td>
  <td><%= product.price %></td>
  <td><%= product.amount %></td>
  <td><%= link_to "Alterar", edit_product_path(product), class:"btn btn-default" %></td>
  <td><%= button_to "Remover", product, method: :delete, class:"btn btn-danger",
  data: {confirm: "Tem certeza que deseja remover o produto #{product.name}?"} %></td>
</tr>
